/* {{ Start General }} */

html {
    font-size: 10px;
    font-family: Inter;
}

img {
    width: 100%;
}

body {
    margin: 0;
    color: #2E4559;
    background-color: #f1f1f1;
}

h1, h2, h3, h4, h5, h6, ul, li, p, a {
    margin: 0;
    padding: 0;
    color: #2E4559;
    
}

li {
    list-style: none;
}

hr {
    margin: auto;
    border: 1px solid #2E4559;
}

a {
    font-size: 1.2em;
    text-decoration: none;
}

/* {{ End General }} */

/* {{ Font Start }} */

:root {
    --fs-sm: clamp(1.3rem, 0.2vi + 1.2rem, 1.4rem);
    --fs-base: clamp(1.6rem, 0.3vi + 1.5rem, 1.9rem);
    --fs-md: clamp(2rem, 0.6vi + 1.8rem, 2.5rem);
    --fs-lg: clamp(2.5rem, 1vi + 2.1rem, 3.4rem);
    --fs-xl: clamp(3.1rem, 1.6vi + 2.5rem, 4.5rem);
    --fs-xxl: clamp(3.9rem, 2.4vi + 3rem, 6rem);
    --fs-xxxl: clamp(4.9rem, 3.5vi + 3.5rem, 8rem);
}

/* {{ Font End }} */

/* {{ Start Header }} */

header {
    text-transform: uppercase;
    max-width: 1100px;
    padding: 1rem 4vw;
    margin: auto;
    align-items: center;
    align-content: center;
}

header nav {
    display: flex;
    gap: 4vw;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    gap: 4vw;
    font-size: var(--fs-sm);
    font-weight: 500;
}

header nav a {
    font-size: var(--fs-base);
    font-family: Kufam;
    font-weight: 600;
}

header nav ul :hover {
    font-weight: 600;
    text-decoration: underline;
    text-decoration-color: 2E4559;
    text-decoration-thickness: 2px;
}

header nav :hover{
    color: #4F6F8C;
}


/* {{ End Header }} */

.top {
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 8vw 4vw;
    
}

.top_bg {
    background-image: url(img/kaeru_3_transparent.png), url(img/kaeru_3_transparent_flipped.png);
    background-position: 140% top, 200% 100%;
    background-repeat: no-repeat, no-repeat;
    background-size: 50%;
    background-clip: content-box;
    background-attachment:local;

}

.top p {
    color: #2E4559;
    font-family: Inter;
    font-size: var(--fs-md);
    font-style: normal;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 1.3rem;
    text-transform:none;
    }


.storia_bg {
    background: url(img/Asset\ 5.png);
    background-size: 80%;
    background-repeat: repeat;
}

.storia_general {
    max-width: 1110px;
    margin:auto;
    display: flex;
    gap: 4vw;
    padding: 4vw 6vw;
    flex-shrink: 0;
} 

.storia_card {
    max-width: 1110px;
    margin:auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4vw;
}

.storia_card p {
    color: #2E4559;
    font-family: Kufam;
    font-size: var(--fs-sm);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 10px;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1vw 4vw;
}

@media (max-width: 556px){
    
    .top_bg {
        background-position: 140% top, 140% 100%;
        background-size: 58%;
    }
}

@media (max-width: 400px) {
    header nav {
        display: inline;
    }

    header nav ul {
    text-align: start;
    justify-content: space-between;
    }    
}