/* {{ Start General }} */

html {
    font-size: 10px;
    font-family: Inter;
}

img {
    width: 100%;
}

body {
    margin: 0;
    color: #2E4559;
    background-color: #f1f1f1;
}

h1, h2, h3, h4, h5, h6, ul, li, p, a {
    margin: 0;
    padding: 0;
    color: #2E4559;
    
}

li {
    list-style: none;
}

hr {
    margin: auto;
    border: 1px solid #2E4559;
}

a {
    font-size: 1.2em;
    text-decoration: none;
}

/* {{ End General }} */

/* {{ Font Start }} */

:root {
    /* For browsers that support clamp  */
          --fs-sm: clamp(1rem, 0.4vi + 0.8rem, 1.3rem);
          --fs-base: clamp(1.2rem, 0.9vi + 0.8rem, 2rem);
          --fs-md: clamp(1.5rem, 1.7vi + 0.8rem, 3rem);
          --fs-lg: clamp(1.9rem, 2.9vi + 0.7rem, 4.5rem);
          --fs-xl: clamp(2.3rem, 4.9vi + 0.4rem, 6.8rem);
          --fs-xxl: clamp(2.9rem, 8vi + -0.3rem, 10.1rem);
          --fs-xxxl: clamp(3.7rem, 12.8vi + -1.5rem, 15.2rem);
}



/* {{ Font End }} */

/* {{ Start Header }} */

header, footer {
    text-transform: uppercase;
    max-width: 1100px;
    padding: 1rem 4vw;
    margin: auto;
    align-items: center;
    align-content: center;
}

header nav {
    display: flex;
    gap: 4vw;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    gap: 4vw;
    font-size: var(--fs-sm);
    font-weight: 500;
}

header nav a, footer nav a {
    font-size: var(--fs-base);
    font-family: Kufam;
    font-weight: 600;
}

header nav ul :hover {
    font-weight: 600;
    text-decoration: underline;
    text-decoration-color: 2E4559;
    text-decoration-thickness: 2px;
}

header nav :hover{
    color: #4F6F8C;
}

footer {
    justify-content: center;
}

footer nav {
    text-align: center;
}

footer nav ul {
    font-size: var(--fs-sm);
    font-weight: 500;
}

/* {{ End Header }} */

.top_bg {
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.top {
    max-width: 1100px;
    align-self: center;
    padding: 8vw 0vw 8vw 4vw;
}

.top p {
    color: #2E4559;
    font-family: Inter;
    font-size: var(--fs-lg);
    font-style: normal;
    line-height: 1.3;
    margin-bottom: 1.3rem;
    text-transform:none;
    }

.image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    align-content: center;
}

.image img {
    object-fit: cover;
    min-width: 180%; 
}


.storia_bg {
    background: url(img/japanese_wave_pattern.png);
    background-size: 80%;
    background-repeat: repeat;
}

.storia {
    padding: 8vw 4vw;
}

.storia_general {
    max-width: 1110px;
    margin:auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1vw;
    padding-bottom: 4vw;
    font-size: var(--fs-base);
    font-family: Kufam;
} 

h1 {
    font-size: var(--fs-md);
    font-family: Kufam;
    text-transform: uppercase;
    padding-bottom: 2vw;
}

.storia_card {
    max-width: 1110px;
    margin:auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2vw 2vw;
    
}

.storia_card p {
    color: #2E4559;
    font-family: Kufam;
    font-size: var(--fs-sm);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 10px;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1vw 6vw;
}

.dot0 {
    height: 1.2vw;
    width: 1.2vw;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.dot1 {
    height: 1.2vw;
    width: 1.2vw;
    background-color: #818990;
    border-radius: 50%;
    display: inline-block;
}

.modelli {
    max-width: 1100px;
    margin: auto;
    padding: 8vw 4vw;
    
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2vw;
}

.card div{
    background-color: #D9D9D9;
    border-radius: 10px;
}

.card div div{
    padding: 1vw;
}
.card img {
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    aspect-ratio: 1/1;
}
h2 {
    text-transform: uppercase;
    font-family: Kufam;
    font-size: var(--fs-base);
    font-weight: 600;
    margin: 8px 0px 0px 0px;
}

h3 {
    text-transform: uppercase;
    font-family: Kufam;
    font-size: var(--fs-base);
    font-weight: 400;
    color: #4F6F8C;
}



@media (max-width: 400px) {
    header nav {
        display: inline;
    }

    header nav ul {
    text-align: start;
    justify-content: space-between;
    }    

}